# Python
# -------------------------------------------------------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a CI process and not committed to
#  the repository.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
# -------------------------------------------------------------------
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker
# -------------------------------------------------------------------
# docker-compose.yml
# docker-compose.override.yml

# Docker build context
.dockerignore
docker-compose.local.yml

# Editor & OS specific
# -------------------------------------------------------------------
# VS Code
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Secrets - Never commit secrets!
# -------------------------------------------------------------------
*.env
secrets.yml
*.pem
*.key
